.loaded {
	background-color: #00CC00;
}

.notfound {
	background-color: #808080;
}

.masked {
	background-color: #8080FF;
}

.active {
	background-color: #00CC00;
}

.inactive {
	background-color: #808080;
}

.dead {
	background-color: #202020;
	color: white;
}

.exited {
	background-color: #808080;
}

.running {
	background-color: #00CC00;
}

.failed {
	background-color: #CC0000;
}

thead {
	font-weight: bold;
	font-variant: small-caps;
}
